<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Backpack| Towson University </title>
        <link rel = "stylesheet" href ="style3.css">
    </head>
    <body>
        <header class ="header">
        <img src ="Capture.PNG" alt="">
            <nav>
            <ul class = >
                <li><a href ="/dashboard">Homepage</a></li>
                <li><a href ="/forum">Forum page</a></li>
                <li><a href ="/cBackpack">Community Backpack</a></li>
                
                <li class="logout"><a href ="/users/logout">Logout </a></li>
            </ul>
        </nav>
    </header>
<div class = "indSect">
    <button class="upload" type="submit" ><a href ="/fileUpload"> Upload File</b> </a></button>
    <button class="myFile" type="submit" ><a href ="/myFile"> My Files</b> </a></button>
    
    <!--<div><a href ="/fileUpload"><b> Upload Files</b> </a></div>
    <div><a href ="/myFile"><b>My Files</b> </a></div>
    --> 
</div>

        <section class = "indFont">
            <h1> <b id = "pageTitle"> INDIVIDUAL BACKPACK:</b></h1>
            <p> This is where students can save their files  and documents individually!!! </p>
            </section>

        <!--<footer class ="footer">
            <ul>
                <li><a href ="/dashboard">Homepage</a></li>
                <li><a href ="/forum">Forum page</a></li>
            </ul>
        </footer>     -->
    </body>

</html>
