<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Community Backpack| Towson University </title>
        <link rel = "stylesheet" href ="style3.css">
    </head>
    <body>
        <header class ="header">
        <img src ="Capture.PNG" alt="">
            <nav>
            <ul>
                <li><a href ="/dashboard">Homepage</a></li>
                <li><a href ="/forum">Forum page</a></li>
                <li><a href ="/backpack">My Backpack</a></li>
                
                <li class="logout"><a href ="/users/logout">Logout </a></li>
            </ul>
        </nav>
    </header>
    <form>
        <div class = "indSect">
            
            <button class="addPost" type="submit" ><a href ="/addpost"> Create A Post</b> </a></button>
            <button class="viewPost" type="submit" ><a href ="/viewPost"> View Class Posts</b> </a></button>
        </div>
        
            </form>
        <section class = "indFont2">
            <h1> <b id = "pageTitle"> CLASS BACKPACK</b></h1>
            <p> This is where students can save their files  and share with the class. </p>
            </section>

           <!-- <footer class ="footer">
                <p> Created by COSC 484 Group 5</p>
            </footer>-->


        <!-- kind of redundant?.. already at top
            <footer class ="footer  ">
            <ul>
                <li><a href ="/dashboard">Homepage</a></li>
                <li><a href ="/forum">Forum page</a></li>
            </ul>
        </footer>
        -->
    </body>

</html>
