<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" href ="fstyle.css">
    
</head>
<body>
    <header class="header"> <!--Logo and links to different pages of the sites-->
        <img class="headerlogo" src="Capture.PNG" alt="">
        <nav>
        <ul>
                <li><a class = "directory" href="/dashboard">Homepage</a></li>
                <li><a class = "directory" href="/forum">Forum page</a></li>
                <li><a class = "directory" href="backpack">Backpack </a></li>
        </ul>
        </nav>
    </header>
    <main>
    <h1><center>Faculty page</center></h1>
    
    <div class= "container">
       <h2> <center>Faculty Member </center></h2> <table class="stacker stacker-original enabled">
              <!--label for information-->             
        <thead>
           
           <tr>
              
              <th style="text-align: left; vertical-align: top;"><strong>Name &amp; Title</strong></th>
              
              <th style="text-align: center; vertical-align: top;"><strong>Expertise</strong></th>
              
              <th style="text-align: left; vertical-align: top;"><strong>Contact Information</strong></th>
              
           </tr>
           
        </thead>
        <!--Info of Staff-->
        <tbody>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="Acharya, Subrata" href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/sacharya.html">Acharya, Subrata</a></p>
                 
                 <p>Professor</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Cyber Physical Systems, Medical Analytics, Trusted Computing, Information Security
                 Management, Secure Health Informatics, Secure Mobile Systems, Ethical &amp; Privacy Issues
                 in Computing Systems
              </td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:sacharya@towson.edu" onclick="">sacharya@towson.edu</a></p>
                 
                 <p>(410) 704-4938</p>
                 
                 <p>YR-461</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="Ali-Gombe, Aisha" href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/aaligombe.html">Ali-Gombe,Aisha&nbsp;</a><span>
                 
                 <p><span>Assistant Professor</span></p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Malware Analysis, System Security, Privacy Policy Techniques in Mobile Applications,
                 Software Reverse Engineering, Code Fingerprinting, Software Instrumentation, Database
                 and Device Memory Forensics
              </td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:aaligombe@towson.edu" onclick="">aaligombe@towson.edu</a>&nbsp;
                 </p>
                 
                 <p>(410)704-5439</p>
                 
                 <p>YR-447</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="Bio: Alkharouf, Nadim" href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/nalkharouf.html">Alkharouf, Nadim</a></p>
                 
                 <p>Professor&nbsp;&amp; MB3 Undergraduate Director</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Bioinformatics, Design and Development of Database Management Systems and Data Mining
                 Tools
              </td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:nalkharouf@towson.edu" onclick="">nalkharouf@towson.edu</a></p>
                 
                 <p>(410) 704-3149</p>
                 
                 <p>YR-471</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="Brown, Cheryl Thomas" href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/cbrown.html">Brown, Cheryl Thomas</a></p>
                 
                 <p>Lecturer</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Sociological Effects of Computerization, Management/End-User Liaison, Systems Analysis,
                 Database Management and Operating Systems
              </td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:cbrown@towson.edu" onclick="">cbrown@towson.edu</a></p>
                 
                 <p>(410) 704-4966</p>
                 
                 <p>YR-444</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="Bio: Chakraborty, Joyram" href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/jchakraborty.html">Chakraborty, Joyram</a></p>
                 
                 <p>Associate Professor</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Human-Computer Interaction, Medical Informatics, Computer Game Design</td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:jchakraborty@towson.edu" onclick="">jchakraborty@towson.edu</a></p>
                 
                 <p>(410) 704-2109</p>
                 
                 <p>YR-474</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="Chakraborty, Suranjan" href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/schakraborty.html">Chakraborty, Suranjan</a></p>
                 
                 <p>Professor</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Requirements Engineering, Distributed Information Systems Development Teams, Qualitative
                 Research Methods, Human Computer Interaction
              </td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:schakraborty@towson.edu" onclick="">schakraborty@towson.edu</a></p>
                 
                 <p>(410) 704-4769</p>
                 
                 <p>YR-469</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="Conover, Adam" href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/aconover.html">Conover, Adam</a></p>
                 
                 <p>Clinical Assistant Professor</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Object-Oriented Programming, Web Development, Programming Languages, Embedded Systems,
                 Multi-Agent Systems
              </td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:aconover@towson.edu" onclick="">aconover@towson.edu</a></p>
                 
                 <p>(410) 704-4782</p>
                 
                 <p>YR-425</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="Davani, Darush" href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/ddavani.html">Davani, Darush</a></p>
                 
                 <p>Professor</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Mathematical Modeling, Computer Simulation, Robotics, Earthquake Engineering</td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:ddavani@towson.edu" onclick="">ddavani@towson.edu</a></p>
                 
                 <p>(410) 704-2774</p>
                 
                 <p>YR-470</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="Bio: Dehlinger, Josh" href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/jdehlinger.html">Dehlinger, Josh</a></p>
                 
                 <p>Professor &amp;&nbsp;Director of CS Program</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Software Engineering, Requirements Engineering, Software Analysis and Design, Programming
                 Languages
              </td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:jdehlinger@towson.edu" onclick="">jdehlinger@towson.edu</a></p>
                 
                 <p>(410) 704-4536</p>
                 
                 <p>YR-476</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="Deng, Lin" href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/ldeng.html">Deng, Lin</a></p>
                 
                 <p><span>Assistant Professor</span></p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Software Engineering, Software Testing, Mobile and Web Application Development, Cybersecurity,
                 Mutation Analysis, Crowdsourcing
              </td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:ldeng@towson.edu" onclick="">ldeng@towson.edu</a>&nbsp;
                 </p>
                 
                 <p>(410) 704-2894</p>
                 
                 <p>YR-436</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="Dierbach, Charles" href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/cdierbach.html">Dierbach, Charles</a></p>
                 
                 <p>Associate Professor</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Artificial Intelligence (Analogical Reasoning), Object-Oriented Design and Development,
                 Computer Education
              </td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:cdierbach@towson.edu" onclick="">cdierbach@towson.edu</a></p>
                 
                 <p>(410) 704-3552</p>
                 
                 <p>YR-464</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/tdowningharris.html">Downing-Harris, Terry</a></p>
                 
                 <p>Lecturer</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;"><span>Software Engineering,&nbsp;</span><span>Systems Analyst,&nbsp;</span><span>Information Technology,&nbsp;</span><span>Information Systems,&nbsp;</span><span>Database Management System development,&nbsp;</span><span>IT Management,&nbsp;</span><span>Programming Languages</span></td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:tdowningharris@towson.edu" onclick="">tdowningharris@towson.edu</a></p>
                 
                 <p>(410) 704-4662</p>
                 
                 <p>YR-457</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="Bio: Dudley, Alfreda" href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/adudley.html">Dudley, Alfreda</a></p>
                 
                 <p>Clinical Professor</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Information Technology, Databases, Cyber Ethics, Cyber Law, Public Policy, Virtual
                 Worlds, Augmented Reality, Thanatechnology
              </td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:adudley@towson.edu" onclick="">adudley@towson.edu</a></p>
                 
                 <p>(410) 704-4946</p>
                 
                 <p>YR-426</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="Bio: Eyer, Robert" href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/reyer.html">Eyer, Robert</a></p>
                 
                 <p>Lecturer</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Bare Machine Computing, Network Security, Encryption Algorithms</td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:reyer@towson.edu" onclick="">reyer@towson.edu</a></p>
                 
                 <p>(410) 704-2428</p>
                 
                 <p>YR-437</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="Bio: Feng, Heidi" href="/fcsm/departments/computerinfosci/facultystaff/jfeng.html">Feng, Heidi</a></p>
                 
                 <p>Professor</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Human-Computer Interaction, Accessible Computing, Health Informatics, Accessible Security
                 Solutions
              </td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:jfeng@towson.edu" onclick="">jfeng@towson.edu</a></p>
                 
                 <p>(410) 704-3463</p>
                 
                 <p>YR-477</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="Hammell, Robert" href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/rhammell.html">Hammell, Robert</a></p>
                 
                 <p>Professor</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Fuzzy Logic, Machine Learning, Artificial Intelligence, Computer Networks</td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:rhammell@towson.edu" onclick="">rhammell@towson.edu</a></p>
                 
                 <p>(410) 704-6050</p>
                 
                 <p>YR-462</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="Hilberg, Scott" href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/shilberg.html">Hilberg, Scott</a></p>
                 
                 <p>Clinical Professor</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">ICT Fluency, Information Technology Management, Technology Education and Software
                 Development
              </td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:shilberg@towson.edu" onclick="">shilberg@towson.edu</a></p>
                 
                 <p>(410) 704-5277</p>
                 
                 <p>YR-423</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="Hong, Sungchul" href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/shong.html">Hong, Sungchul</a></p>
                 
                 <p>Associate Professor</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Auction Market Mechanism, e-Commerce, Intelligent Agents, Data Classification</td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:shong@towson.edu" onclick="">shong@towson.edu</a></p>
                 
                 <p>(410) 704-6338</p>
                 
                 <p>YR-479</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/alex-hornberger.html">Hornberger, Alex</a></p>
                 
                 <p><span>Lecturer</span></p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">&nbsp;</td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:ahornberger@towson.edu" onclick="">ahornberger@towson.edu</a></p>
                 
                 <p><span>(410) 704-2633</span></p>
                 
                 <p><span>YR-430</span></p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/moinul-hossain.html">Hossain, Moinul</a></p>
                 
                 <p><span>Assistant Professor</span></p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Security Assessment of Wireless Network Protocols and Threat Modeling, Cross-technology
                 Spectrum Sharing, Dynamic Spectrum Access, Cognitive Radio Networks
              </td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:mhossain@towson.edu" onclick="">mhossain@towson.edu</a></p>
                 
                 <p>(410) 704-6310</p>
                 
                 <p>YR-443</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/jal-irani.html">Irani, Jal</a></p>
                 
                 <p>Lecturer</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">&nbsp;</td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:jirani@towson.edu" onclick="">jirani@towson.edu</a></p>
                 
                 <p>(410) 704-2633</p>
                 
                 <p>YR-430</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/mark-jacobson.html">Jacobson, Mark</a></p>
                 
                 <p>Lecturer</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">IT Policy and Governance; Business Process Re-Design, Enterprise Resource Planning,
                 Federal IT Procurement, IT Program and Project Management, IT Strategic Planning and
                 Assessment, IT Capstone, IT Internal Controls and Oversight, Enterprise Architecture,
                 IT Budget, Application Systems Planning and Analysis, IT Investment Analysis
              </td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:mtjacobson@towson.edu" onclick="">mtjacobson@towson.edu</a></p>
                 
                 <p><span>(410) 704-4773</span></p>
                 
                 <p><span>YR-442</span></p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="Karne, Ramesh" href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/rkarne.html">Karne, Ramesh</a></p>
                 
                 <p>Professor</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Bare Machine Computing Applications and Architectures; Transformation of OS Based
                 Applications to Bare Machine Computing Applications; Design, Implementation and Performance
                 Analysis of Server Systems, Gateways, Routers, Network Clients, Browser and other
                 Network Elements
              </td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:rkarne@towson.edu" onclick="">rkarne@towson.edu</a></p>
                 
                 <p>(410) 704-3955</p>
                 
                 <p>YR-429</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="Kaza, Siddharth" href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/skaza.html">Kaza, Sidd</a></p>
                 
                 <p>Professor,&nbsp;<span>Department Chair &amp; Interim Director of Graduate Program</span></p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Cybersecurity Education, Data/Web Mining, Learning Sciences, Web and Mobile Application
                 Development
              </td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:skaza@towson.edu" onclick="">skaza@towson.edu</a></p>
                 
                 <p>(410) 704-2633</p>
                 
                 <p>YR-406C</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/tina-kelleher.html">Kelleher, Tina</a></p>
                 
                 <p><span>Lecturer</span></p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">&nbsp;</td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:tkelleher@towson.edu" onclick="">tkelleher@towson.edu</a></p>
                 
                 <p><span>(410) 704-3951</span></p>
                 
                 <p><span>YR-445</span></p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="Kim, Yanggon" href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/ykim.html">Kim, Yanggon</a></p>
                 
                 <p>Professor</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Computer Architecture, Computer Networks, Communications, Computer Graphics, High-Performance
                 Computing Systems
              </td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:ykim@towson.edu" onclick="">ykim@towson.edu</a></p>
                 
                 <p>(410) 704-3782</p>
                 
                 <p>YR-473</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/wliao.html">Liao, Weixian</a></p>
                 
                 <p>Assistant Professor</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;"><span>Big data analytics, cybersecurity, and networking in cyber physical systems and IoT</span></td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:wliao@towson.edu" onclick="">wliao@towson.edu</a></p>
                 
                 <p>(410) 704-2154</p>
                 
                 <p>YR-438</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/dastyni-loksa.html">Loksa, Dastyni</a></p>
                 
                 <p><span>Assistant Professor</span></p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Computer Science Education, Human-Computer Interaction</td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:dloksa@towson.edu" onclick="">dloksa@towson.edu</a></p>
                 
                 <p>&nbsp;</p>
                 
                 <p>YR-431</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="Lu, Chao" href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/clu.html">Lu, Chao</a></p>
                 
                 <p>Professor &amp;&nbsp; Director of Doctoral Program</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Digital Signal Processing, Algorithm Design and Implementation, FFTs, Parallel and
                 Vector Computing, Computer Vision and Image Processing
              </td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:clu@towson.edu" onclick="">clu@towson.edu</a></p>
                 
                 <p>(410) 704-3950</p>
                 
                 <p>YR-465</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="McGuire, Michael" href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/mmcguire.html">McGuire, Michael</a></p>
                 
                 <p>Associate&nbsp;Professor &amp; Director of IT Program&nbsp;</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Spatio-Temporal Data Mining, Data Warehousing, Sensor Database Systems, Distributed
                 Databases, Environmental Informatics, Information Visualization
              </td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:mmcguire@towson.edu" onclick="">mmcguire@towson.edu</a></p>
                 
                 <p>(410) 704-2337</p>
                 
                 <p>YR-424</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="Meiselwitz, Gabriele" href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/gmeiselwitz.html">Meiselwitz, Gabriele</a></p>
                 
                 <p>Professor &amp;&nbsp; Director of IS Program</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Web-Based Technologies, Distance Learning, Human-Centered Computing, Social Networking,
                 Multimedia
              </td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:gmeiselwitz@towson.edu" onclick="">gmeiselwitz@towson.edu</a></p>
                 
                 <p>(410) 704-2835</p>
                 
                 <p>YR-468</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="Nguyen, Nam" href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/nnguyen.html">Nguyen, Nam</a></p>
                 
                 <p>Associate Professor</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Social Network Analysis, Social-aware Mobile Computing, Data Mining, and Cyber Security</td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:npnguyen@towson.edu" onclick="">npnguyen@towson.edu</a></p>
                 
                 <p>(410) 704-3089</p>
                 
                 <p>YR-427</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a href="https://www.towson.edu/fcsm/departments/mathematics/facultystaff/moleary.html">O'Leary, Michael</a></p>
                 
                 <p>Professor</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Mathematical Algorithms for Geographic Profiling, Cybersecurity</td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:moleary@towson.edu" onclick="">moleary@towson.edu</a></p>
                 
                 <p>(410) 704-4757</p>
                 
                 <p>YR-317</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="Pak, Jinie" href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/jpak.html">Pak, Jinie</a></p>
                 
                 <p>Clinical Assistant Professor</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Intelligence and Security Informatics, Social Network Analysis, Computational Linguistics,&nbsp;Computer
                 Supported Cooperative Works (CSCW),&nbsp;Human-Computer Interaction
              </td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:jpak@towson.edu" onclick="">jpak@towson.edu</a></p>
                 
                 <p>(410) 704-3873</p>
                 
                 <p>YR-458</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/neda-saeedloei.html" >Saeedloei,&nbsp;Neda</a></p>
                 
                 <p>Assistant Professor</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Formal Methods; Model-based Design, Specification and Verification of Cyber-physical
                 Systems, Models of Computation, Logic in Computer Science
              </td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:nsaeedloei@towson.edu" onclick="">nsaeedloei@towson.edu</a></p>
                 
                 <p><span>(410) 704-2255</span></p>
                 
                 <p><span>YR-455</span></p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/willie-sanders.html">Sanders, Willie</a></p>
                 
                 <p>Lecturer</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">&nbsp;</td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:wsanders@towson.edu" onclick="">wsanders@towson.edu</a></p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="Song, Yeong-Tae" href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/ysong.html">Song, Yeong-Tae</a></p>
                 
                 <p>Professor</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Program Slicing, Software Impact Analysis, Software Architecture, Enterprise Architecture,
                 e-Learning Systems, Health Informatics
              </td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:ysong@towson.edu" onclick="">ysong@towson.edu</a></p>
                 
                 <p>(410) 704-3557</p>
                 
                 <p>YR-472</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="Tang, Katherine" href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/ztang.html">Tang, Katherine</a></p>
                 
                 <p>Associate Professor</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Multimedia, Comp Graphics and Vision, Comp Animation and Gaming, Machine Learning,
                 Human-Comp Interaction, Virtual Reality and Virtual Environment
              </td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:ztang@towson.edu" onclick="">ztang@towson.edu</a></p>
                 
                 <p>(410) 704-3090</p>
                 
                 <p>YR-478</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="Tavakolan, Mona" href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/mtavakolan.html">Tavakolan, Mona</a></p>
                 
                 <p>Clinical Assistant Professor</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Bioinformatics, Computational Biology, Computer Networks, Design and Development of
                 Database Management Systems
              </td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:mtavakolan@towson.edu" onclick="">mtavakolan@towson.edu</a></p>
                 
                 <p>(410) 704-4781</p>
                 
                 <p>YR-456</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="Taylor, Blair" href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/btaylor.html">Taylor, Blair</a></p>
                 
                 <p>Associate Professor</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Software Security, Secure Coding, Security Education</td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:btaylor@towson.edu" onclick="">btaylor@towson.edu</a></p>
                 
                 <p>(410) 704-4560</p>
                 
                 <p>YR-463</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/chuck-tessler.html">Tessler, Chuck</a></p>
                 
                 <p><span>Assistant Professor</span></p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">&nbsp;</td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:ctessler@towson.edu" onclick="">ctessler@towson.edu</a></p>
                 
                 <p>&nbsp;</p>
                 
                 <p>YR-442</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="Wang, Kathy" href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/ywang.html">Wang, Kathy</a></p>
                 
                 <p>Associate Professor &amp; Assistant Chairperson</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Group Decision Support System, Human-Computer Interaction, Computer Supported Cooperative
                 Work, Knowledge Management, System Analysis and Design, Software Engineering, Asynchronous
                 Learning Network, e-Commerce
              </td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:ywang@towson.edu" onclick="">ywang@towson.edu</a></p>
                 
                 <p>(410) 704-2104</p>
                 
                 <p>YR-475</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="Wijesinha, Alexander" href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/awijesinha.html">Wijesinha, Alexander</a></p>
                 
                 <p>Professor</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Computer Networks, Wireless Networks, Network Aspects of Bare Machine Computing, Network
                 Security, Network Performance
              </td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:awijesinha@towson.edu" onclick="">awijesinha@towson.edu</a></p>
                 
                 <p>(410) 704-4660</p>
                 
                 <p>YR-428</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/linda-wilbanks.html">Wilbanks, Linda</a></p>
                 
                 <p>Lecturer</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">&nbsp;</td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:lwilbanks@towson.edu" onclick="">lwilbanks@towson.edu</a></p>
                 
                 <p><span>(410) 704-2981</span></p>
                 
                 <p><span>YR-446</span></p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="Yu, Wei" href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/wyu.html">Yu, Wei</a></p>
                 
                 <p>Professor</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Cyber Security, Computer Networks and Cyber-Physical Systems</td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:wyu@towson.edu" onclick="">wyu@towson.edu</a></p>
                 
                 <p>(410) 704-5528</p>
                 
                 <p>YR-467</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="Zimand, Iliana" href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/izimand.html">Zimand, Iliana</a></p>
                 
                 <p>Lecturer</p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Programming Languages, Algorithms, Databases</td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:izimand@towson.edu" onclick="">izimand@towson.edu</a></p>
                 
                 <p>(410 704-4666</p>
                 
                 <p>YR-441</p>
                 
              </td>
              
           </tr>
           
           <tr>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a title="Zimand,&nbsp;Marius" href="https://www.towson.edu/fcsm/departments/computerinfosci/facultystaff/mzimand.html">Zimand,&nbsp;Marius</a></p>
                 
                 <p><span>Professor</span></p>
                 
              </td>
              
              <td style="text-align: left; vertical-align: top;">Computational Complexity, Algorithms, Cryptography</td>
              
              <td style="text-align: left; vertical-align: top;">
                 
                 <p><a class="email-link" href="mailto:mzimand@towson.edu" onclick="">mzimand@towson.edu</a></p>
                 
                 <p>(410) 704-4967</p>
                 
                 <p>YR-466</p>
                 
              </td>
              
           </tr>
           
        </tbody>
        
     </table>

    </div>
    </main>
    <footer class ="footer  ">
      <ul>
          <li><a href ="">Homepage</a></li>
          <li><a href ="">Forum page</a></li>
          <li><a href ="">Registration </a></li>
      </ul>
  </footer>
</body>

</html>