<!-- Structure of requirements from https://catalog.towson.edu/undergraduate/fisher-science-mathematics/computer-information-sciences/computer-science/ -->
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" link href="requirements.css">
</head>

<body>
    <h1 class="page-title">Computer Science Degree Requirements</h1>

    <!-- Bring users back to the main page -->
    <a href="/dashboard" class="back-to-dashboard"> Back to Dashboard </a>

    <div>
        <br><br><br><br><br><br>
    </div>




    <center>
        <p class="requirements-desc">
            The Computer Science major requires 81-83 units to be earned with a grade equivalent of 2.00 or higher.
            A
            minimum
            of 30 major units must be taken at Towson University. Students cannot double major in Computer Science
            and
            Computer Information Systems, or in Computer Science and Information Technology.
        </p>
    </center>



    <center>
        <table class="cosc-ccourselist">
            <thead>
                <tr class="hidden noscript">
                    <th scope="col">Code</th>
                    <th scope="col">Title</th>
                    <th>Units</th>
                </tr>
            </thead>
            <tbody>
                <tr class="even areaheader  firstrow">
                    <td colspan="2"><span class="courselistcomment areaheader "> <em> Required Computer Science
                                Courses</em></span>
                    </td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="odd">
                    <td class="codecol">
                        <a class="cosc377">CIS&nbsp;377
                            <span class="cosc377text">
                                <p><b>CIS 377 INTRODUCTION TO CYBERSECURITY (3)</b></p>
                                Provides an overview of key cybersecurity concepts and practices
                                and broadly characterizes the global security landscape, including cyber law and cyber
                                warfare.
                                It is structured as a series of ordered modules that cover foundational security
                                principles,
                                risk management, and adversarial thinking as an organizing narrative for a series of
                                modules
                                on data security, system security, network security, personal security, and societal
                                security.
                                <p><em>Prerequisite: major or minor sophomore standing.</em></p>
                            </span>
                        </a>

                    </td>
                    <td>INTRODUCTION TO CYBERSECURITY</td>
                    <td class="hourscol">3</td>
                </tr>
                <tr class="even">
                    <td class="codecol">
                        <a class="cosc236">COSC&nbsp;236
                            <span class="cosc236text">
                                <p><b>COSC 236 INTRODUCTION TO COMPUTER SCIENCE I (4)</b></p>
                                Introduction to structured problem solving, algorithm development and computer
                                programming. Three lecture hours and two laboratory hours.
                                <p>
                                    <em>
                                        Prerequisites: COSC 175 and
                                        (MATH 119, MATH 231, MATH 273, MATH 274, MATH 275, or a qualifying score on the
                                        Math
                                        Placement exam).
                                    </em>
                                </p>
                            </span>
                        </a>
                    </td>
                    <td>INTRODUCTION TO COMPUTER SCIENCE I <sup>1</sup></td>
                    <td class="hourscol">4</td>
                </tr>
                <tr class="odd">
                    <td class="codecol">
                        <a class="cosc237">COSC&nbsp;237
                            <span class="cosc237text">
                                <p><b>COSC 237 INTRODUCTION TO COMPUTER SCIENCE II (4)</b></p>
                                Development of programming and problem-solving skills, with a focus on object-oriented
                                programming and design. Students will design and develop programs using encapsulation
                                and information hiding, inheritance, polymorphism, and generics. Introduction to data
                                structures and their implementations (lists, stacks, queues, and trees), recursion, and
                                searching and sorting algorithms. Includes two laboratory hours per week.

                                <p><em>Prerequisites: COSC 236; MATH 211 or MATH 273.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>INTRODUCTION TO COMPUTER SCIENCE II</td>
                    <td class="hourscol">4</td>
                </tr>
                <tr class="even">
                    <td class="codecol">
                        <a class="cosc290">COSC&nbsp;290
                            <span class="cosc290text">
                                <p><b>COSC 290 PRINCIPLES OF COMPUTER ORGANIZATION (4)</b></p>
                                Computer organization and architecture including computer arithmetic, digital logic,
                                principles of assembly language, memory system organization, computer interfacing, CISC
                                and RISC architecture. Three hours per week of laboratory work required.

                                <p><em>Prerequisites:
                                        COSC 236 and (MATH 263 or MATH 267).</em></p>

                            </span>
                        </a>
                    </td>
                    <td>PRINCIPLES OF COMPUTER ORGANIZATION</td>
                    <td class="hourscol">4</td>
                </tr>
                <tr class="odd">
                    <td class="codecol">
                        <a class="cosc336">COSC&nbsp;336
                            <span class="cosc336text">
                                <p><b>COSC 336 DATA STRUCTURES AND ALGORITHM ANALYSIS (4)</b></p>

                                Fundamental data structures used in programming and the basic techniques used to design
                                and analyze algorithms. Topics include: complexity analysis of elementary algorithms,
                                linear data structures, trees, heaps, graphs, search algorithms (balanced binary trees,
                                B-trees, hashing), sorting algorithms, basic graph algorithms (graph traversal,
                                topological sorting, shortest path, minimum spanning trees), and paradigms in the design
                                of algorithms (divide and conquer, dynamic programming, greedy).

                                <p><em>Prerequisites: COSC 237 and MATH 274.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>DATA STRUCTURES AND ALGORITHM ANALYSIS</td>
                    <td class="hourscol">4</td>
                </tr>
                <tr class="even">
                    <td class="codecol">
                        <a class="cosc350">COSC&nbsp;350
                            <span class="cosc350text">
                                <p><b>COSC 350 DATA COMMUNICATIONS AND NETWORKING (3)</b></p>
                                Network architecture and protocols, data communications, LANs and cellular networks,
                                forwarding and routing, TCP/IP suite, network programming and packet analysis.

                                <p><em>Corequisite: COSC 336. Prerequisite: COSC 290.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>DATA COMMUNICATIONS AND NETWORKING</td>
                    <td class="hourscol">3</td>
                </tr>
                <tr class="odd">
                    <td class="codecol">
                        <a class="cosc412">COSC&nbsp;412
                            <span class="cosc412text">
                                <p><b>COSC 412 SOFTWARE ENGINEERING (3)</b></p>
                                Methodology of designing and programming for a wide area of applications with a high
                                degree of modifiability, efficiency, reliability, and understanding.
                                <p><em>Prerequisite: COSC 336.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>SOFTWARE ENGINEERING</td>
                    <td class="hourscol">3</td>
                </tr>
                <tr class="even">
                    <td class="codecol">
                        <a class="cosc439">COSC&nbsp;439
                            <span class="cosc439text">
                                <p><b>COSC 439 OPERATING SYSTEMS (3)</b></p>
                                Operating systems as resource managers with emphasis on file processor, memory and
                                device management and processes. Design and implementation of a simulated
                                multiprogramming operating system.
                                <p><em>Prerequisite: COSC 336.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>OPERATING SYSTEMS</td>
                    <td class="hourscol">3</td>
                </tr>
                <tr class="odd">
                    <td class="codecol">
                        <a class="cosc455">COSC&nbsp;455
                            <span class="cosc455text">
                                <p><b> COSC 455 PROGRAMMING LANGUAGES: DESIGN & IMPLEMENTATION (3)</b></p>
                                Underlying concepts in high-level programming languages and techniques for
                                their implementation, a survey of a selected group of such languages along with a
                                discussion
                                of the interrelationship between programming and programming languages.
                                <p><em> Prerequisite: COSC 336</em></p>
                            </span>
                        </a>
                    </td>
                    <td>PROGRAMMING LANGUAGES: DESIGN &amp; IMPLEMENTATION</td>
                    <td class="hourscol">3</td>
                </tr>
                <tr class="even">
                    <td class="codecol">
                        <a class="cosc457">COSC&nbsp;457
                            <span class="cosc457text">
                                <p><b>COSC 457 DATABASE MANAGEMENT SYSTEMS (3)</b></p>
                                Data models and sublanguages; security and integrity problems; functions of the database
                                administrator; implementation and use of a database management system; a comparison of
                                widely used DBMS packages.
                                <p><em>Prerequisite: COSC 336.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>DATABASE MANAGEMENT SYSTEMS</td>
                    <td class="hourscol">3</td>
                </tr>
                <tr class="odd areaheader ">
                    <td colspan="2"><span class="courselistcomment areaheader "> <em>Required Math Courses</em></span>
                    </td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="even">
                    <td class="codecol">
                        <a class="math263">MATH&nbsp;263
                            <span class="math263text">
                                <p><b>MATH 263 DISCRETE MATHEMATICS (3)</b></p>
                                Sets, logic, induction, functions, relations, sequences, recursion, combinatorics,
                                graphs and trees, matrices with an emphasis on applications in computer science.
                                <p><em>Prerequisite: four years of high school mathematics or MATH 119. Core:
                                        Mathematics.</em></p>
                            </span>
                        </a>

                        <span> <br> or
                            <a class="math267">MATH&nbsp;267

                                <span class="math267text">
                                    <p><b>MATH 267 INTRODUCTION TO ABSTRACT MATHEMATICS (4)</b></p>
                                    Sets, mappings, relations, logic, mathematical induction, properties of the
                                    integers, Fundamental Theorem of Arithmetic, polynomials, and elementary
                                    analytic concepts. Not open to those who successfully completed MATH 361 or MATH
                                    467.
                                    <p><em>Prerequisites: MATH 273 and MATH 265 or consent of the instructor.</em>
                                    </p>
                                </span>

                            </a>
                    </td>
                    <td>DISCRETE MATHEMATICS<br><span style="margin-left:20px;" class="blockindent">and INTRODUCTION TO
                            ABSTRACT MATHEMATICS</span></td>
                    <td class="hourscol">3-4</td>
                </tr>
                <tr class="odd">
                    <td class="codecol">
                        <a class="math273">MATH&nbsp;273
                            <span class="math273text">
                                <p><b>MATH 273 CALCULUS I (4)</b></p>
                                Functions, limits, and continuity; differentiation of algebraic and trigonometric
                                functions; mean value theorem; differentials; introduction to integration; applications.
                                Four lecture hours and one laboratory hour per week.
                                <p><em>Prerequisite: qualifying score on Math Placement exam or MATH 119. Core:
                                        Mathematics. Lab/Class fee will be assessed.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>CALCULUS I</td>
                    <td class="hourscol">4</td>
                </tr>
                <tr class="even">
                    <td class="codecol">
                        <a class="math274">MATH&nbsp;274
                            <span class="math274text">
                                <p><b>MATH 274 CALCULUS II (4)</b></p>
                                Differentiation and integration of exponential, logarithmic, and inverse trigonometric
                                functions; techniques of integration and applications; indeterminate forms; improper
                                integrals; sequences and series of numbers; power series.
                                <p><em>Prerequisite: MATH 273. Core:
                                        Mathematics. Lab/Class fee will be assessed.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>CALCULUS II</td>
                    <td class="hourscol">4</td>
                </tr>
                <tr class="odd">
                    <td class="codecol">
                        <a class="math330">MATH&nbsp;330
                            <span class="math330text">
                                <p><b>MATH 330 INTRODUCTION TO STATISTICAL METHODS (4) </b></p>
                                An introductory course for students with mathematics and computing backgrounds
                                emphasizing statistical ideas and techniques. Descriptive statistics, probability,
                                estimation and sampling, hypothesis testing, regression and correlation, and analysis of
                                variance. A statistical package such as MINITAB is introduced as a computational tool.
                                <p><em> Prerequisite: MATH 274.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>INTRODUCTION TO STATISTICAL METHODS</td>
                    <td class="hourscol">4</td>
                </tr>
                <tr class="even areaheader ">
                    <td colspan="2"><span class="courselistcomment areaheader "> <em>Elective Computer Science
                                Courses</em></span>
                    </td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="odd">
                    <td colspan="2"><span class="courselistcomment"> <em>Select at least two of the
                                following:</em></span>

                    </td>
                    <td class="hourscol">6</td>
                </tr>
                <tr class="even">
                    <td class="codecol">
                        <a class="cosc417">COSC&nbsp;417
                            <span class="cosc417text">
                                <p><b>COSC 417 INTRODUCTION TO THE THEORY OF COMPUTING (3)</b></p>
                                A general introduction to the theory of computation, including finite automata,
                                compatibility, formal languages and their relation to automata, algorithms, and
                                algorithmic complexity. The major emphasis will be on developing formal descriptions of
                                computers and computational processes, and practical implications of theoretical
                                results.
                                <p><em>Prerequisite: COSC 336.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>INTRODUCTION TO THE THEORY OF COMPUTING</td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="odd">
                    <td class="codecol">
                        <a class="cosc432">COSC&nbsp;432
                            <span class="cosc432text">
                                <p><b>COSC 432 REQUIREMENTS ANALYSIS & MODELING (3)</b></p>
                                Introduces the basic concepts as well as the principles of software requirements
                                development. Students will learn how to elicit, analyze, and model requirements and gain
                                practical knowledge of tools and techniques related to these requirements activities.
                                Develops theoretical knowledge and practitioner skills critical for real world
                                applications.
                                <p><em>Prerequisite: COSC 412.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>REQUIREMENTS ANALYSIS &amp; MODELING</td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="even">
                    <td class="codecol">
                        <a class="cosc436">COSC&nbsp;436
                            <span class="cosc436text">
                                <p><b>COSC 436 OBJECT-ORIENTED DESIGN & PROGRAMMING (3)</b></p>
                                Introduction to object-oriented design and programming technology (OOD/OOP). Main phases
                                in object-oriented design and techniques in object-oriented programming. Programming
                                language design and implementation issues for object-oriented languages.
                                <p><em>Prerequisite: COSC 336.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>OBJECT-ORIENTED DESIGN &amp; PROGRAMMING</td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="odd">
                    <td class="codecol">
                        <a class="cosc459">COSC&nbsp;459
                            <span class="cosc459text">
                                <p><b>COSC 459 COMPUTER SIMULATION & MODELING (3)</b></p>
                                Simulation models and languages, data collection and output analysis, random number
                                generation and Monte Carlo integration, model verification and validation, variance
                                reduction techniques, optimization, the implementation and use of simulation techniques
                                in problem solving.
                                <p><em> Prerequisites: COSC 336 and MATH 330 or CIS 334 and MATH 231.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>COMPUTER SIMULATION &amp; MODELING</td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="even">
                    <td class="codecol">
                        <a class="cosc461">COSC&nbsp;461
                            <span class="cosc461text">
                                <p><b>COSC 461 ARTIFICIAL INTELLIGENCE (3)</b></p>
                                A survey of the problems and techniques involved in producing or modeling intelligence
                                in computers. Particular emphasis will be placed on representation of knowledge and
                                basic paradigms of problem solving. Topics include game playing, theorem proving,
                                natural language, and learning systems.
                                <p><em>Prerequisite: COSC 336 or CIS 334.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>ARTIFICIAL INTELLIGENCE</td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="odd">
                    <td class="codecol">
                        <a class="cosc471">COSC&nbsp;471
                            <span class="cosc471text">
                                <p><b>COSC 471 COMPUTER GRAPHICS (3)</b></p>
                                An introduction to the field of computer generated and/or displayed graphics data.
                                Covers the topics of representation, transformations, curve and 3-D problems, graphics
                                hardware, and programming considerations.
                                <p><em>Prerequisite: COSC 336.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>COMPUTER GRAPHICS</td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="even">
                    <td class="codecol">
                        <a class="cosc483">COSC&nbsp;483
                            <span class="cosc483text">
                                <p><b>COSC 483 DESIGN & ANALYSIS ALGORITHMS (3)</b></p>
                                Algorithm design methods such as heuristics, backtrack programming, branch and bound,
                                recursion, simulation, divide-and-conquer, balancing, and dynamic programming.
                                Efficiency of algorithms - NP-complete problems.
                                <p><em>Prerequisite: COSC 336.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>DESIGN &amp; ANALYSIS ALGORITHMS</td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="odd">
                    <td colspan="2"><span class="courselistcomment"> <em>Select at least two of the
                                following:</em></span></td>
                    <td class="hourscol">6</td>
                </tr>
                <tr class="even">
                    <td class="codecol">

                        <a class="cosc397">COSC&nbsp;397 <br>

                            <span class="cosc397text">
                                <p><b>COSC 397 INTERNSHIP IN COSC (3)</b></p>
                                Students work in local computing facility under on-site and faculty supervision.
                                May be repeated for a maximum of 6 units. Only 3 units can be applied to the
                                major. Graded S/U.
                                <p><em>Prerequisites: 6 units of upper-level COSC courses, 2.75 GPA,
                                        and consent of the internship coordinator.</em>
                                </p>
                            </span>
                        </a>
                        <span>or
                            <a class="cosc495">COSC&nbsp;495

                                <span class="cosc495text">
                                    <p><b>COSC 495 INDEPENDENT STUDY (1-3)</b></p>
                                    Directed study in selected areas of Computer Science for which there is no
                                    regular course offered. The use of a proposal and well-defined objectives as
                                    well as a formal paper or project report are required.
                                    <p><em>Prerequisites: senior
                                            standing in Computer Science and consent of instructor.</em>
                                    </p>
                                </span>
                            </a>
                    </td>
                    <td>INTERNSHIP IN COSC</td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="odd">
                    <td class="codecol">
                        <a class="cosc431">COSC&nbsp;431
                            <span class="cosc431text">
                                <p><b>COSC 431 SELECTED TOPICS COMPUTER SCIENCE (1-3)</b></p>
                                Independent studies in selected areas of computer science. A maximum of 4 units may be
                                earned in selected topics.
                                <p><em>Prerequisites: consent of the instructor and 9 units of
                                        computer science.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>SELECTED TOPICS COMPUTER SCIENCE</td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="even">
                    <td class="codecol">
                        <a class="cosc435">COSC&nbsp;435
                            <span class="cosc435text">
                                <p><b>COSC 435 MOBILE APPLICATION DEVELOPMENT (3)</b></p>
                                A comprehensive, hands-on study of the design and creation of mobile applications using
                                modern development environments and tools. Topics include mobile device architecture,
                                event-handlers, location-based services, onboard mobile device sensors, programming
                                languages, software engineering, user interface design, and mobile application
                                distribution. This course has been offered as a special topic; students who have earned
                                credit for this course as a special topic will not receive additional credit for COSC
                                435.
                                <p><em>Prerequisite: COSC 336.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>MOBILE APPLICATION DEVELOPMENT</td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="odd">
                    <td class="codecol">
                        <a class="cosc440">COSC&nbsp;440
                            <span class="cosc440text">
                                <p><b>COSC 440 OPERATING SYSTEMS SECURITY (3)</b></p>
                                an in-depth discussion of security concepts in operating systems. This course examines
                                some of the security issues in current operating systems and discusses the existing
                                tools and technologies for setting up a secure system.
                                <p><em>Prerequisite: COSC 439.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>OPERATING SYSTEMS SECURITY</td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="even">
                    <td class="codecol">
                        <a class="cosc442">COSC&nbsp;442
                            <span class="cosc442text">
                                <p><b>COSC 442 SOFTWARE QUALITY ASSURANCE AND TESTING (3)</b></p>
                                A comprehensive study of concepts, techniques, and tools for software quality assurance
                                and testing. Software testing at the unit, subsystem and system levels; test models and
                                test design techniques; integration, regression, and system testing methods; static and
                                dynamic analysis; security and reliability testing and assessment.
                                <p><em>Prerequisite: COSC 412.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>SOFTWARE QUALITY ASSURANCE AND TESTING</td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="odd">
                    <td class="codecol">
                        <a class="cosc450">COSC&nbsp;450
                            <span class="cosc450text">
                                <p><b>COSC 450 NETWORK SECURITY (3)</b></p>
                                Network security principles and applications, including authentication applications. IP
                                security, Web security, network management security, wireless security and system
                                security.
                                <p><em>Prerequisites: COSC 314 or MATH 314, and COSC 350.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>NETWORK SECURITY</td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="even">
                    <td class="codecol">
                        <a class="cosc458">COSC&nbsp;458
                            <span class="cosc458text">
                                <p><b>COSC 458 APPLICATION SOFTWARE SECURITY (3)</b></p>
                                A study of security concepts in developing software applications. Discusses design
                                principles for secure software development, and some of the security issues in current
                                programming and scripting languages, database systems and Web servers. \
                                <p><em>Prerequisites: COSC 310 and COSC 455 and COSC 457 (COSC 457 may be taken
                                        concurrently).</em></p>
                            </span>
                        </a>
                    </td>
                    <td>APPLICATION SOFTWARE SECURITY</td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="odd">
                    <td class="codecol">
                        <a class="cosc465">COSC&nbsp;465
                            <span class="cosc465text">
                                <p><b>COSC 465 ROBOTICS (3)</b></p>
                                Physical mechanisms of robotics, issues of modeling, planning control and programming.
                                Principles underlying the design and analysis of robotic systems, with emphasis on the
                                autonomous, and behavior-based systems.
                                <p><em>Prerequisites: COSC 336.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>ROBOTICS</td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="even">
                    <td class="codecol">
                        <a class="cosc484">COSC&nbsp;484
                            <span class="cosc484text">
                                <p><b>COSC 484 WEB-BASED PROGRAM (3)</b></p>
                                Applications executing on a client-server system, emphasizing client side. Technologies
                                include HTTP protocol, dynamic HTML, server-side programming, and client-side JavaScript
                                libraries & frameworks.
                                <p><em>Prerequisite: COSC 336</em></p>
                            </span>
                        </a>
                    </td>
                    <td>WEB-BASED PROGRAM</td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="odd areaheader ">
                    <td colspan="2"><span class="courselistcomment areaheader "> <em>Science Requirement</em></span>
                    </td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="even">
                    <td colspan="2"><span class="courselistcomment"> <em> Select two lab science courses from the
                                following
                                (the courses do not need to form a sequence):</em></span></td>
                    <td class="hourscol">8</td>
                </tr>
                <tr class="odd">
                    <td class="codecol">
                        <a class="astr161">ASTR&nbsp;161
                            <span class="astr161text">
                                <p><b>ASTR 161 THE SKY AND THE SOLAR SYSTEM (4)</b></p>
                                A course for non-science majors covering observational astronomy, telescopes, Earth as a
                                planet, the Moon, Solar System, Sun, general properties of stars. Development of enough
                                algebra - based physics to understand these topics at a non-technical level. Three
                                lecture hours and one two-hour laboratory period.
                                <p><em>Core: Biological & Physical Sciences.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>THE SKY AND THE SOLAR SYSTEM</td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="even">
                    <td class="codecol">
                        <a class="astr181">ASTR&nbsp;181
                            <span class="astr181text">
                                <p><b>ASTR 181 STARS, GALAXIES, AND THE EARLY UNIVERSE (4)</b></p>
                                A course for non-science majors covering stellar evolution, galaxies, cosmology, and
                                possibly other topics including life elsewhere in the universe. Emphasizes determination
                                of the distance scale and modern trends in astronomy. Develop and use some algebra-based
                                physics. Three lecture hours and one two-hour laboratory period. Students who have
                                successfully completed ASTR 162 will not receive additional credit for ASTR 181.
                                <p><em>Prerequisite: high school algebra suggested. Core: Biological & Physical
                                        Sciences.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>STARS, GALAXIES, AND THE EARLY UNIVERSE</td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="odd">
                    <td class="codecol">
                        <a class="bio200">BIO&nbsp;200 <br>
                            <span class="bio200text">
                                <p><b>BIOL 200 INTRODUCTION TO CELLULAR BIOLOGY AND GENETICS [LECTURE] (3)</b></p>
                                An introduction to biology, including biologically important molecules, cell and
                                tissue structure, respiration, photosynthesis, mitosis, meiosis and genetics. Course
                                designed for Biology and related science majors; taking this course to fulfill Core
                                credit generally not advised (see BIOL 120/ BIOL 120L as alternative). Core credit
                                not given for both BIOL 200/ BIOL 200L and BIOL 120/ BIOL 120L.
                                <p><em>Corequisite: BIOL 200L. Prerequisite: CHEM 131/ CHEM 131L (may be taken
                                        concurrently) or one year
                                        high school chemistry; major. Core: Lab and Non-Lab Sciences.</em></p>
                            </span>
                        </a>
                        <span>&amp;
                            <a class="bio200L">200L

                                <span class="bio200Ltext">
                                    <p><b>BIOL 200L INTRODUCTION TO CELLULAR BIOLOGY AND GENETICS [LAB] (1)</b></p>
                                    An introduction to biology, including biologically important molecules, cell and
                                    tissue structure, respiration, photosynthesis, mitosis, meiosis and genetics.
                                    Average of three laboratory hours per week. Course designed for Biology and
                                    related science majors; taking this course to fulfill Core credit generally not
                                    advised (see BIOL 120/ BIOL 120L as alternative). Core credit not given for both
                                    BIOL 200/ BIOL 200L and BIOL 120/ BIOL 120L.
                                    <p><em> Corequisite: BIOL 200. Prerequisite: CHEM 131/ CHEM 131L (may be taken
                                            concurrently) or one year high school chemistry. Core: Lab and Non-Lab
                                            Sciences. Lab/Class fee will be assessed.</em></p>
                                </span>
                            </a>

                    </td>
                    <td>INTRODUCTION TO CELLULAR BIOLOGY AND GENETICS [LECTURE]<br><span style="margin-left:20px;"
                            class="blockindent">and INTRODUCTION TO CELLULAR BIOLOGY AND GENETICS [LAB]</span></td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="even">
                    <td class="codecol">
                        <a class="biol202">BIOL&nbsp;202
                            <span class="biol202text">
                                <p><b>BIOL 202 INTRODUCTION TO ECOLOGY AND EVOLUTION (4)</b></p>
                                Population dynamics, community patterns and processes, origin and diversity of species,
                                natural selection, speciation, and population genetics; emphasis on developing testable
                                hypotheses and quantitative analysis of biological data. Three laboratory hours per
                                week. Course designed for BIOL and related science majors; taking this course to fulfill
                                Core credit generally not advised (see BIOL 120 and BIOL 120L as alternative).
                                <p><em>Prerequisite: BIOL 200/ BIOL 200L [BIOL 201]. Core: Biological & Physical
                                        Sciences. Lab/Class fee will be assessed.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>INTRODUCTION TO ECOLOGY AND EVOLUTION</td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="odd">
                    <td class="codecol">
                        <a class="chem131">CHEM&nbsp;131<br>
                            <span class="chem131text">
                                <p><b>CHEM 131 GENERAL CHEMISTRY I LECTURE (3)</b></p>
                                Atomic and molecular structure; theories of bonding, stoichiometry; chemical
                                reactions; gases; solutions. Open to science/math majors/minors only. Not open to
                                those who successfully completed CHEM 110. CHEM 131 is a quantitative course and
                                students are expected to be proficient in algebraic manipulations and graphical
                                interpretation.
                                <p><em>Corequisite: CHEM 131L. Core: Biological & Physical Sciences. Lab/Class fee
                                        will be assessed.</em></p>
                            </span>
                        </a>
                        <span>&amp;
                            <a class="chem131L">131L

                                <span class="chem131Ltext">
                                    <p><b>CHEM 131L GENERAL CHEMISTRY I LABORATORY (1)</b></p>
                                    Laboratory experiments to support concepts of General Chemistry I Lecture. Not
                                    open to those who successfully completed CHEM 110.
                                    <p><em>Corequisite: CHEM 131. Core: Biological & Physical Sciences. Lab/class
                                            fee will be assessed.</em></p>
                                </span>
                            </a>
                    </td>
                    <td>GENERAL CHEMISTRY I LECTURE<br><span style="margin-left:20px;" class="blockindent">and GENERAL
                            CHEMISTRY I LABORATORY</span></td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="even">
                    <td class="codecol">
                        <a class="chem132">CHEM&nbsp;132<br>
                            <span class="chem132text">
                                <p><b>CHEM 132 GENERAL CHEMISTRY II LECTURE (3)</b></p>
                                Physical properties of liquids, solids and solutions, kinetics, equilibrium, acids
                                and bases, chemical thermodynamics and electrochemistry. Not open to those who
                                successfully completed CHEM 111. CHEM 132 is a quantitative course and students are
                                expected to be proficient in algebraic manipulations, exponentials, logarithms and
                                graphical interpretation.
                                <p><em>Corequisite: CHEM 132L. Prerequisites: CHEM 131 & CHEM 131L. Core: Biological
                                        & Physical Sciences.</em></p>
                            </span>
                        </a>
                        <span>&amp;
                            <a class="chem132L">132L

                                <span class="chem132Ltext">
                                    <p><b>CHEM 132L GENERAL CHEMISTRY II LABORATORY (1)</b></p>
                                    Laboratory experiments to support concepts of General Chemistry II Lecture. Not
                                    open to those who successfully completed CHEM 111.
                                    <p><em>Corequisite: CHEM 132. Core: Biological & Physical Sciences. Lab/class
                                            fee will be assessed.</em></p>
                                </span>
                            </a>
                    </td>
                    <td>GENERAL CHEMISTRY II LECTURE<br><span style="margin-left:20px;" class="blockindent">and GENERAL
                            CHEMISTRY II LABORATORY</span></td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="odd">
                    <td class="codecol">
                        <a class="geol121">GEOL&nbsp;121
                            <span class="geol121text">
                                <p><b>GEOL 121 PHYSICAL GEOLOGY (4)</b></p>
                                Composition and structure of the earth, the internal and external forces acting upon it,
                                and the surface features resulting. Laboratory studies of common rocks and minerals,
                                geologic and topographic maps, and aerial photographs. Field trips required. Three
                                lecture hours and three laboratory hours per week. Core: Biological & Physical Sciences.
                                Lab/Class fee will be assessed.
                            </span>
                        </a>
                    </td>
                    <td>PHYSICAL GEOLOGY</td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="even">
                    <td class="codecol">
                        <a class="phys241">PHYS&nbsp;241
                            <span class="phys241text">
                                <p><b>PHYS 241 GENERAL PHYSICS I CALCULUS-BASED (4)</b></p>
                                Calculus-based physics for science and engineering majors. Mechanics and the
                                conservation laws, gravitation, simple harmonic motion. Prerequisite: MATH 273 (may be
                                taken concurrently). Core: Biological & Physical Sciences. Lab/Class fee will be
                                assessed.
                            </span>
                        </a>
                    </td>
                    <td>GENERAL PHYSICS I CALCULUS-BASED</td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="odd">
                    <td class="codecol">
                        <a class="phys242">PHYS&nbsp;242
                            <span class="phys242text">
                                <p><b>PHYS 242 GENERAL PHYSICS II CALCULUS-BASED (4)</b></p>
                                Continuation of PHYS 241. Electricity, magnetism, DC and AC currents, geometric optics.
                                Prerequisites: PHYS 241, MATH 274 (may be taken concurrently). Core: Biological &
                                Physical Sciences. Lab/Class fee will be assessed.
                            </span>
                        </a>
                    </td>
                    <td>GENERAL PHYSICS II CALCULUS-BASED</td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="even areaheader ">
                    <td colspan="2"><span class="courselistcomment areaheader "> <em>Elective Math Course</em></span>
                    </td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="odd">
                    <td colspan="2"><span class="courselistcomment"> <em> Select one from the following:</em></span>
                    </td>
                    <td class="hourscol">3-4</td>
                </tr>
                <tr class="even">
                    <td class="codecol">
                        <a class="math265">MATH&nbsp;265
                            <span class="math265text">
                                <p><b>MATH 265 ELEMENTARY LINEAR ALGEBRA (4)</b></p>
                                Matrix calculations and determinants, vector spaces over the real numbers, linear
                                transformations, eigenvalues, eigenvectors, and inner products with emphasis on
                                applications. Not open to students who successfully completed MATH 365 or MATH 463.
                                <p><em> Prerequisite: MATH 211 or MATH 273.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>ELEMENTARY LINEAR ALGEBRA</td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="odd">
                    <td class="codecol">
                        <a class="math275">MATH&nbsp;275
                            <span class="math275text">
                                <p><b>MATH 275 CALCULUS III (4)</b></p>
                                Vectors in two and three dimensions, differential and integral calculus of functions of
                                several variables. Four lecture hours and one laboratory hours per week.
                                <p><em>Prerequisite: MATH 274. Lab/Class fee will be assessed.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>CALCULUS III</td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="even">
                    <td class="codecol">
                        <a class="math314">MATH&nbsp;314
                            <span class="math314text">
                                <p><b>MATH 314 INTRODUCTION TO CRYPTOGRAPHY (3)</b></p>
                                A broad introduction to cryptography and its mathematical foundations: Elementary number
                                theory; classical and modern symmetric key cryptosystems; public key cryptography;
                                primality tests, factoring algorithms; hash functions and digital signatures. Selected
                                further topics may include security protocols, digital cash, elliptic curve
                                cryptography, or quantum cryptography.
                                <p><em>Prerequisites: COSC 236; either MATH 263 or MATH 267; and either MATH 330 or MATH
                                        331 (may be taken concurrently).</em></p>
                            </span>
                        </a>
                    </td>
                    <td>INTRODUCTION TO CRYPTOGRAPHY</td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="odd">
                    <td class="codecol">
                        <a class="math315">MATH&nbsp;315
                            <span class="math315text">
                                <p><b>MATH 315 APPLIED COMBINATORICS (4)</b></p>
                                General counting methods, pigeonhole principle, inclusion-exclusion principle,
                                generating functions, recurrence relations, summation techniques, partitions,
                                permutations and pattern avoidance, Polya's enumeration, asymptotics, select topics from
                                graph theory.
                                <p><em> Prerequisites: MATH 274; MATH 263 or MATH 267.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>APPLIED COMBINATORICS</td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="even">
                    <td class="codecol">
                        <a class="math369">MATH&nbsp;369
                            <span class="math369text">
                                <p><b>MATH 369 INTRODUCTION TO ABSTRACT ALGEBRA (4)</b></p>
                                Elementary number theory; congruences, groups up to and including the isomorphism
                                theorems, commutative rings, polynomials, unique factorization, irreducibility, finite
                                fields.
                                <p><em>Prerequisites: MATH 265, MATH 267, and MATH 274.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>INTRODUCTION TO ABSTRACT ALGEBRA</td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="odd">
                    <td class="codecol">
                        <a class="math374">MATH&nbsp;374
                            <span class="math374text">
                                <p><b>MATH 374 DIFFERENTIAL EQUATIONS (3)</b></p>
                                Theory and application of linear ordinary differential equations: homogeneous and
                                nonhomogeneous linear equations, initial and boundary value problems, exact equations,
                                variation of parameters, Euler equations; solutions of non-linear ordinary differential
                                equations of the first order and second order; power series solutions; system of linear
                                equations.
                                <p><em>Prerequisite: MATH 274.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>DIFFERENTIAL EQUATIONS</td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="even">
                    <td class="codecol">
                        <a class="math377">MATH&nbsp;377
                            <span class="math377text">
                                <p><b>MATH 377 MATHEMATICAL MODELS (3)</b></p>
                                Developing appropriate mathematical models and techniques to solve mathematical problems
                                in sociology, psychology, economics, management science, and ecology.
                                <p><em>Prerequisites: MATH 265, MATH 274, COSC 236 and at least junior standing.</em>
                                </p>
                            </span>
                        </a>
                    </td>
                    <td>MATHEMATICAL MODELS</td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="odd">
                    <td class="codecol">
                        <a class="math378">MATH&nbsp;378
                            <span class="math378text">
                                <p><b>MATH 378 SCIENTIFIC MODELNG AND SIMULATION (3)</b></p>
                                Interdisciplinary introduction to scientific simulation. Mathematical modeling,
                                numerical analysis, and object oriented computer programming. Not open to students who
                                have successfully completed COSC 378.
                                <p><em>Prerequisites: MATH 274 and COSC 236.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>SCIENTIFIC MODELNG AND SIMULATION</td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="even">
                    <td class="codecol">
                        <a class="math435">MATH&nbsp;435
                            <span class="math435text">
                                <p><b>MATH 435 NUMERICAL ANALYSIS I (3)</b></p>
                                Error analysis, interpolation, numerical differentiation and integration, numerical
                                solution of algebraic equations, direct and iterative techniques for solving linear
                                systems of algebraic equations. Mathematical and comparable computer algebra systems
                                will be used.
                                <p><em>Prerequisites: MATH 265, MATH 274, and COSC 236.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>NUMERICAL ANALYSIS I</td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="odd">
                    <td class="codecol">
                        <a class="math437">MATH&nbsp;437
                            <span class="math437text">
                                <p><b>MATH 437 OPERATIONS RESEARCH (3)</b></p>
                                Introduction to linear, integer and nonlinear programming, the simplex method and
                                interior point methods, duality and sensitivity analysis; formulation of optimization
                                models and applications to problems from industry.
                                <p><em>Prerequisites: MATH 265 and MATH 331.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>OPERATIONS RESEARCH</td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="even">
                    <td class="codecol">
                        <a class="math451">MATH&nbsp;451
                            <span class="math451text">
                                <p><b>MATH 451 GRAPH THEORY (3)</b></p>
                                Hamiltonian and Eulerian graphs, coloring graphs, planar and non-planar graphs,
                                connectivity problems; isomorphic graphs, and advanced topics.
                                <p><em>Prerequisite: MATH 263 or MATH 267.</em></p>
                            </span>
                        </a>
                    </td>
                    <td>GRAPH THEORY</td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="odd areaheader ">
                    <td colspan="2"><span class="courselistcomment areaheader ">Other Requirements</span></td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="even">
                    <td colspan="2"><span class="courselistcomment">Must be completed with a grade equivalent of 2.00 or
                            higher.</span></td>
                    <td class="hourscol"></td>
                </tr>
                <tr class="odd">
                    <td>
                        <a class="comm131">COMM&nbsp;131
                            <span class="comm131text">
                                <p><b>COMM 131 PUBLIC SPEAKING (3)</b></p>
                                Perspectives of rhetoric and public speaking, investigating contemporary American
                                experiences, delivering and critiquing speeches. Core: Arts & Humanities.
                            </span>
                        </a>
                    </td>
                    <td>PUBLIC SPEAKING (Core 5)</td>
                    <td class="hourscol">3</td>
                </tr>
                <tr class="even">
                    <td>
                        <a class="cosc418">COSC&nbsp;418
                            <span class="cosc418text">
                                <p><b>COSC 418 ETHICAL AND SOCIETAL CONCERNS OF COMPUTER SCIENTISTS (3)</b></p>
                                Ethical questions and societal concerns related to the widespread use of computers and
                                the resulting responsibilities of computer scientists.
                                <p><em>Prerequisites: junior/senior standing; ENGL 317 or BUSX 301; must have previously
                                        taken a computing class. Core: Ethical Issues & Perspectives.</em></p>
                            </span>
                        </a>

                    </td>
                    <td>ETHICAL AND SOCIETAL CONCERNS OF COMPUTER SCIENTISTS (Core 14)</td>
                    <td class="hourscol">3</td>
                </tr>
                <tr class="odd lastrow">
                    <td>
                        <a class="engl317">ENGL&nbsp;317
                            <span class="engl317text">
                                <p><b>ENGL 317 WRITING FOR BUSINESS AND INDUSTRY (3)</b></p>
                                Standard written formats used in business and industry, including correspondence,
                                memoranda, and reports. Projects individualized to meet student needs and career
                                interests. Requires grade of C or better to fulfill Core requirement.
                                <p><em>Prerequisite: ENGL 102 or ENGL 190 or equivalent. Core: Advanced Writing
                                        Seminar.</em></p>
                            </span>
                        </a>

                    </td>
                    <td>WRITING FOR BUSINESS AND INDUSTRY (Core 9)</td>
                    <td class="hourscol">3</td>
                </tr>
                <tr class="listsum">
                    <td colspan="2">Total Units</td>
                    <td class="hourscol">81-83</td>
                </tr>
                <tr>
                    <td colspan="2"> <sup>1</sup><a class="cosc175">COSC 175
                            <span class="cosc175text">
                                <p><b>COSC 175 GEN COMPUTER SCI (4)</b></p>
                                Computer systems overview, algorithm development, data representation, software design
                                and testing methodologies, and brief overview of advanced topics.
                            </span>
                        </a> 
                        <span>&nbsp;&nbsp;is a prerequisite for
                        <a class="cosc236">COSC 236
                            <span class="cosc236text">
                                <p><b>COSC 236 INTRODUCTION TO COMPUTER SCIENCE I (4)</b></p>
                                Introduction to structured problem solving, algorithm development and computer
                                programming. Three lecture hours and two laboratory hours.
                                <p>
                                    <em>
                                        Prerequisites: COSC 175 and
                                        (MATH 119, MATH 231, MATH 273, MATH 274, MATH 275, or a qualifying score on the
                                        Math
                                        Placement exam).
                                    </em>
                                </p>
                            </span>
                        </a>

                    </td>
                </tr>
            </tbody>
        </table>

    </center>



</body>

</html>