body{
    background-image:url('bg1.jpg');
}

a{
    color:gold;
    
}

h1.welHead{
    font-size: 48px;
    text-align: center;
}

p.welBody{
    font-size:24px;
    text-align: center;
}

a.welLink{
    font-size:20px;
    
}
.lnkButton{
    background-color: black;
    border-style: double;
    border-color: gold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    top: 5%;
    left:45%;
}
.regBody{
    font-size:24px;
    text-align: center;
}

.regButton{
    position: relative;
    top: 5%;
    left:45%;
}

.txtStylePop{
        color: rgb(247, 183, 23);

}

/*might take this out.. put block behind buttons...*/
#buttonForm{
    background-color: rgb(0, 0, 0);
    color: rgb(247, 183, 23);


    /* This is to vertically center the text */
    height: auto;
    width: auto;


    border: 2px solid rgb(247, 183, 23);
    border-radius: 5px;


}
